.orbitron-header {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 5px;
  font-style: normal;
}


.open-sans-body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 1px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    font-family: Orbitron;
}